
.parent {
    position: relative;

    width: 200px;
    height: 200px;
    margin: 0 auto;
    top: 200px;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    animation-name: parent;
    animation-duration: 10s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.parent::before {
    content: "dfbdbgfbsf";
    font-size: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    transform: translateZ(49px);
    animation-name: redparent;
    animation-duration: 10s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.parent::after {
    content: "dfbdbgfbsf";
    font-size: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: blue;
    transform: translateZ(-51px);
    animation-name: blueparent;
    animation-duration: 5s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.front {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: red;
    animation-name: red;
    animation-duration: 10s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: blue;
    animation-name: blue;
    animation-duration: 5s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes red {
    0% {
        transform: rotateZ(0deg) translateZ(50px);
    }
    100% {
        transform: rotateZ(360deg) translateZ(50px);
    }

}

@keyframes blue {
    0% {
        transform: rotateZ(0deg) translateZ(-50px);
    }
    100% {
        transform: rotateZ(-360deg) translateZ(-50px);
    }
}

@keyframes parent {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
@keyframes redparent {
    0% {
        transform: rotateZ(0deg) translateZ(49px);
    }
    100% {
        transform: rotateZ(360deg) translateZ(49px);
    }
}
@keyframes blueparent {
    0% {
        transform: rotateZ(0deg) translateZ(-51px);
    }
    100% {
        transform: rotateZ(-360deg) translateZ(-51px);
    }
}